/* reset the style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* set the variable */
:root {
    /* color */
    --background-color: #F9F5E7;
    --card-color: #EDDBC7;

    /* font */
    --main-font: 'Noto Sans', sans-serif;
}

/* layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

main {
    display: flex;
}

.image__section .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form__box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
fieldset.name, fieldset.connect, fieldset.password{
    display: flex;
    justify-content: space-between;

    width: 85%;
}
fieldset div {
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

/* typograohy */
html {
    font-size: 16px;

    font-family: var(--main-font);
}
.form__section article {
    color: #553939;
}
.form__section article h2:first-child {
    margin-bottom: 0.5rem;
}
.form__section label {
    color: #553939;
}
.form__section h4 {
    color: #704F4F;
}
.form__section h4 a {
    color: #472D2D;
}

.form__box h1 {
    color: #472D2D;
}

.form__section button {
    color: #EED6C4;

    font-weight: 700;
}


/* style */
body {
    background-color: var(--background-color);
}

.wrapper {
    width: 1200px;
    height: 600px;

    background-color: var(--card-color);

    border-radius: 20px;

    overflow: hidden;
}

.image__section {
    background: url("images/jonathan-borba-21tOEaJPM_o-unsplash.jpg");
    background-size: cover;

    width: 40%;
}
.image__section .logo {
    width: 100%;
    height: 100%;

    backdrop-filter: blur(5px);
    backdrop-filter: contrast(50%);
}

.image__section .logo img {
    width: 200px;
}


.form__section {
    padding: 1rem 0;

    width: 60%;
}
fieldset {
    border-style: none;
}
.form__section > *:not(.form){
    padding: 0 3.2rem;
}

.form__section input {
    border-radius: 5px;

    border: 1px solid black;
    background-color: #F8EDE3;
}

.form > *:not(.create__account) {
    padding: 0 3.2rem;
}

.form__box {
    background-color: #F8EDE3;

    height: 300px;
}
#form--box--style {
    padding-right: 0px;
}

form button {
    margin-left: 3.2rem;
    margin-top: 1rem;
}

.form__section h4 {
    margin: 1rem 0rem;
}

form button {
    border-style: none;
    border-radius: 10px;

    background-color: #9E7676;

    padding: 0.5rem;
}
form button:hover {
    border-style: solid;
    border: 2px solid black;
    padding: 0.4rem;
}

/* form style */
input:focus {
    border-width: 1.5px;
}
input[type="text"]:valid{
    border-color: green;
}

div:has(> input[required]) label::after{
    content: " (Required) ";

    font-weight: 300;
}

/* Responsive */
@media only screen and (max-width:768px){
    main.wrapper {
        flex-direction: column;

        width: 95%;
        height: auto;
        margin: 1.5rem 0rem;
    }

    .image__section {
        width: 100%;
    }
    .image__section .logo {
        padding: 1rem 0;
    }

    .form__section {
        width: 100%;

        padding: 0rem;
    }
    .form {
        min-height: 420px;
    }

    .form__section > *:not(.form,h4){
        padding:  0.5rem 1rem;
    }
    .form__section > article h2 {
        font-size: 1.2rem;
    }

    .form__box#form--box--style {
        padding: 0rem;

        justify-content: center;

        height: auto;

        padding-left: 2.0rem;
    }
    fieldset.name, fieldset.connect, fieldset.password{
        flex-direction: column;

        margin-bottom: 1rem;

        border-bottom: 1px solid #9E7676;
    }
    input {
        width: 80%;
        height: 35px;

        margin-bottom: 1rem;
    }
}

